coverage/
example/
quality/
scripts/
.github/
.vscode/

src/**/__fixtures__/
src/**/__mocks__/
src/**/__tests__/
src/**/*.test.ts
src/**/*.test.tsx
src/**/*.qa.test.ts
src/**/*.qa.test.tsx

*.log
tsconfig*.json
jest.config.js
eslint.config.js
